.pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 16px;

    height: 100%;
    max-height: 280px;
    width: 250px;
    background-color: var(--block-bg-2);
    border-radius: 16px;
    padding: 16px;

    text-align: center;
}

.mainInfo {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 8px;
}


.name {
    font-size: var(--font-size-s);
}

.types {
    font-size: var(--font-size-xxs);
    font-style: italic;
}

.trainer {
    color: var(--caption-text);
}

.pokemonImage {
    border-radius: 50%;
}

.won .pokemonImage{
    box-shadow: 0 0 20px var(--won-color-shadow);
}

.coefficient {
    justify-items: flex-start;
    padding: 8px 16px;
    background-color: var(--block-bg-3);
    border-radius: 8px;
    width: 100%;
    text-align: center;
}