.pokemonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 8px;

    width: 120px;
}

.pokemonImage {
    align-self: center;
    border-radius: 50%;
}

.won .pokemonImage{
    box-shadow: 0 0 20px var(--won-color-shadow);
}

.pokemonText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2px;
}

.name {
    font-size: var(--font-size-xs);
}

.type {
    color: var(--caption-text);
    font-size: var(--font-size-xxs);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 8px;

    background-color: var(--block-bg-1);
    padding: 16px;
    border-radius: 12px;

    min-width: 313px;
    cursor: pointer;
}

.pokemons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.coefficients {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 16px;
}

.coefficient {
    height: 32px;
    background-color: var(--block-bg-2);
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.button {
    width: 100%;
    padding: 8px 16px;
    background-color: var(--accept-color);
    border-radius: 8px;

    box-shadow: none;
    transition: all 0.4s ease;
}

.button:hover {
    box-shadow: 0 0 20px var(--accept-color-shadow);
}

.button:disabled {
    background-color: var(--block-bg-2);
}

.betButton {
    width: 100%;
    padding: 8px 16px;
    background-color: var(--accent-color);
    border-radius: 8px;

    box-shadow: none;
    transition: all 0.4s ease;
}

.betButton:hover {
    box-shadow: 0 0 20px var(--accent-color-shadow);
}