.container {
    width: 100%;
    height: 72px;

    background-color: var(--block-bg-0);
    border-radius: 16px;

    display: grid;
    grid-template-columns: 250px 1fr 250px;

    padding: 8px 24px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    column-gap: 12px;

    font-size: var(--font-size-m);
    cursor: pointer;
}

.balance {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
}

.icon {
    height: 20px;
    width: 20px;
    fill: var(--main-text);
}

.button {
    background-color: var(--accept-color);
    width: 140px;
    height: 40px;
    border-radius: 25px;

    column-gap: 4px;
    box-shadow: none;
    transition: all 0.4s ease;
    /*box-shadow: inset -5px -5px 15px var(--accept-color-inset);*/
}

.button:hover {
    box-shadow: 0 0 20px var(--accept-color-shadow);
}

.profile, .remains {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    column-gap: 8px;
}

.profileContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    column-gap: 16px;
}

.login {
    align-self: center;
    justify-self: flex-end;

    width: 82px;
    height: 36px;
    background: var(--block-bg-2);
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    color: var(--main-text);
    cursor: pointer;

    transition: background-color 0.2s ease;
}

.login:hover {
    background: var(--block-bg-3);
}

