.form {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.textField label {
    font-size: var(--font-size-xxxs);
    color: var(--caption-text);
    display: block;
    margin-bottom: 5px;
}

/*TODO: вынести стили для инпутов в общие*/
.textField input {
    width: 100%;
    padding: 8px;
    background-color: var(--block-bg-4);
    border: 1px solid var(--block-bg-3);
    border-radius: 8px;

    color: var(--main-text);
}

.title {
    font-size: var(--font-size-xxs);
}

.error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.submitButton {
    width: 100%;
    padding: 10px;
    background-color: var(--accent-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

.submitButton:hover {
    box-shadow: 0 0 20px var(--accent-color-shadow);
}